# service: db

POSTGRES_DB=crm
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm

# service: backend

DATABASE__URL=postgresql://crm:crm@crm-db:5432/crm
AUTH__SECRET_KEY=dev-secret-key-change-me
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=480

# service: frontend

PNPM_STORE_DIR=/pnpm/store